<div>
    <div class="HeroMain p-0 container-fluid" id="page_1" style="position: relative;">
        <div role="region" id="carousel1" aria-busy="false" class="carousel p-0 slide" style="text-shadow: rgb(51, 51, 51) 1px 1px 2px;">
            <div id="carousel1___BV_inner_" role="list" class="carousel-inner">
                <div role="listitem" class="carousel-item active" aria-current="true" aria-posinset="1" aria-setsize="3" id="__BVID__18" style="height: 100vh;">
                    <!---->
                    <div class="carousel-caption">
                        <!---->
                        <!---->
                        <div class="row h-100">
                            <div class="screen1 column h-100 col-12 col-md-8 p-0" style="background-image: url(../../../assets/css/images/Home/Fotos-IDEM--01.png);">
                                <div class="slideText d-flex flex-column justify-content-center h-100 w-100 px-0">
                                    <div class="hero-title"> IDEM es una organización sin fines de lucro que tiene como misión descentralizar lacalidad educativa. </div>
                                </div>
                            </div>
                            <div class="screen2 column h-100 col-0 col-md-4 p-0">
                                <div class="LogoBlanco"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="carousel-item" aria-current="false" aria-posinset="2" aria-setsize="3" id="__BVID__19" style="height: 100vh;">
                    <!---->
                    <div class="carousel-caption">
                        <!---->
                        <!---->
                        <div class="row h-100">
                            <div class="screen1 column h-100 col-12 col-md-8 p-0" style="background-image: url(../../../assets/css/images/Home/Fotos-IDEM--02.png);">
                                <div class="slideText d-flex flex-column justify-content-center h-100 w-100 px-0">
                                    <div class="hero-title"> Logramos nuestro objetivo mediante el desarrollo de cursos presenciales en provincia y cursos online. </div>
                                </div>
                            </div>
                            <div class="screen2 column h-100 col-0 col-md-4 p-0">
                                <div class="LogoBlanco"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="carousel-item" aria-current="false" aria-posinset="3" aria-setsize="3" id="__BVID__20" style="height: 100vh;">
                    <!---->
                    <div class="carousel-caption">
                        <!---->
                        <!---->
                        <div class="row h-100">
                            <div class="screen1 column h-100 col-12 col-md-8 p-0" style="background-image: url(../../../assets/css/images/Home/Fotos-IDEM--03.png);">
                                <div class="slideText d-flex flex-column justify-content-center h-100 w-100 px-0">
                                    <div class="hero-title"> Nuestros cursos se encuentran especializados en negocios y áreas afines como contabilidad, derecho, economía, entre otros. </div>
                                </div>
                            </div>
                            <div class="screen2 column h-100 col-0 col-md-4 p-0">
                                <div class="LogoBlanco"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><a href="#" role="button" aria-controls="carousel1___BV_inner_" class="carousel-control-prev"><span aria-hidden="true" class="carousel-control-prev-icon"></span><span class="sr-only">Previous Slide</span></a><a href="#" role="button" aria-controls="carousel1___BV_inner_"
                class="carousel-control-next"><span aria-hidden="true" class="carousel-control-next-icon"></span><span class="sr-only">Next Slide</span></a>
            <ol id="carousel1___BV_indicators_" aria-hidden="true" aria-label="Select a slide to display" aria-owns="carousel1___BV_inner_" class="carousel-indicators" style="display: none;">
                <li role="button" id="carousel1___BV_indicator_1_" tabindex="-1" aria-current="true" aria-label="Goto Slide 1" aria-controls="carousel1___BV_inner_" class="active"></li>
                <li role="button" id="carousel1___BV_indicator_2_" tabindex="-1" aria-current="false" aria-label="Goto Slide 2" aria-controls="carousel1___BV_inner_" class=""></li>
                <li role="button" id="carousel1___BV_indicator_3_" tabindex="-1" aria-current="false" aria-label="Goto Slide 3" aria-controls="carousel1___BV_inner_" class=""></li>
            </ol>
        </div>
        <div class="franja-azul d-flex justify-content-end col-9 col-md-7 p-0">
            <div class="px-4 franja-option h-100 d-flex flex-column justify-content-center">CURSOS DE NEGOCIOS</div>
            <div class="px-4 pr-5 franja-option h-100 d-flex flex-column justify-content-center">CURSOS DE TECNOLOGIA</div>
        </div>
    </div>
    <div class="cursosOnlineDesktop container-fluid d-flex flex-column justify-content-center inf px-2 px-lg-5" id="page_2" style="height: 100vh; padding-top: 90px;">
        <div class="d-flex justify-content-center py-0">
            <div class="text_container">
                <div class="title-text d-flex justify-content-between">
                    <h4 class="section-title">
                        <a href="/cursos/online" class="section-title">Cursos Online</a>
                    </h4>
                </div>
            </div>
        </div>


        <!-- PRUEBS-->
        <div class="d-flex w-100 justify-content-center">
            <ngb-carousel style="height: 100vh; " id="carousel1" :interval="4000" class="carousel" controls>
                <ng-template ngbSlide style=" height: 70vh;">
                    <div class="carousel-caption">
                        <div class="container d-flex justify-content-center w-100 h-100 px-0">
                            <div class="card-container px-0 w-100 h-100 m-0">

                                <div *ngFor="let itemcurso of idemcursoList.slice(0, 2); " class="card-wrapper d-flex justify-content-center col-6 px-2 py-2">
                                    <div class="card">
                                        <div class="image">
                                            <div class="subtitle px-4 py-1  d-flex justify-content-center" style="position:absolute;left:0;bottom:0;">
                                                NEGOCIOS
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="title-wrapper  d-flex justify-content-start" style="padding-right: 50px;">
                                                <span class="text-left cursos-title px-0">{{itemcurso.nombre}}</span>
                                            </div>
                                            <div class="text-wrapper">
                                                <p class="small-text text-left pt-0 pl-lg-1">
                                                    {{itemcurso.descripcion}}...
                                                </p>
                                                <a href="/curso/{{itemcurso.idcurso}}">
                                                    <div class="flecha"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <!--<div class="d-flex w-100 justify-content-center">
            <div role="region" id="carousel1" aria-busy="false" class="carousel carousel slide">
                <div id="carousel1___BV_inner_" role="list" class="carousel-inner">
                    <div role="listitem" class="carousel-item active" aria-current="true" aria-posinset="1" aria-setsize="1" style="height: 80vh;" id="__BVID__23">
                        
                        <ngb-carousel class="carousel-caption">
                        
                            <ng-template ngbSlide *ngFor="let itemcurso of idemcursoList" class="d-flex justify-content-center w-100 h-100 px-0">
                                <div class="row">
                                    <div class="col-md-4">
                                        
                                        <div class="card-container px-0 w-100 h-100 m-0" style="min-height:550px">
                                            <div class="card-wrapper d-flex justify-content-center col-6 px-2 py-2">
                                                <div class="card">

                                                    <div class="image" style="background-image: '{{itemcurso.imagen}}';">
                                                        <div class="subtitle px-4 py-1  d-flex justify-content-center" style="position: absolute; left: 0px; bottom: 0px;">
                                                            NEGOCIOS
                                                        </div>
                                                    </div>
                                                    <div class="card-text">
                                                        <div class="title-wrapper d-flex justify-content-start"><a href="/cursos/{{itemcurso.idcurso}}"><span class="text-left cursos-title px-0">{{itemcurso.nombre}}</span></a></div>
                                                        <div class="text-wrapper">
                                                            <p class="small-text text-left pt-0 pl-lg-1">
                                                                {{itemcurso.descripcion | slice:0:90}}...
                                                            </p>
                                                            <a href="/curso/{{itemcurso.idcurso}}">
                                                                <div class="flecha"></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-4">

                                       
                                        <div class="card-container px-0 w-100 h-100 m-0" style="min-height:550px">
                                            <div class="card-wrapper d-flex justify-content-center col-6 px-2 py-2">
                                                <div class="card">

                                                    <div class="image" style="background-image: '{{itemcurso.imagen}}';">
                                                        <div class="subtitle px-4 py-1  d-flex justify-content-center" style="position: absolute; left: 0px; bottom: 0px;">
                                                            NEGOCIOS
                                                        </div>
                                                    </div>
                                                    <div class="card-text">
                                                        <div class="title-wrapper d-flex justify-content-start"><a href="/cursos/{{itemcurso.idcurso}}"><span class="text-left cursos-title px-0">{{itemcurso.nombre}}</span></a></div>
                                                        <div class="text-wrapper">
                                                            <p class="small-text text-left pt-0 pl-lg-1">
                                                                {{itemcurso.descripcion | slice:0:90}}...
                                                            </p>
                                                            <a href="/curso/{{itemcurso.idcurso}}">
                                                                <div class="flecha"></div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>

            </div>
        </div>-->
    </div>
    <div class="cursospresenciales p-0 container-fluid" id="page_3">
        <div role="region" id="carousel1" aria-busy="false" class="carousel p-0 slide" style="background: rgb(171, 171, 171); text-shadow: rgb(51, 51, 51) 1px 1px 2px;">
            <div id="carousel1___BV_inner_" role="list" class="carousel-inner">
                <div role="listitem" class="carousel-item active" aria-current="true" aria-posinset="1" aria-setsize="1" style="background: rgb(171, 171, 171); height: 100vh;" id="__BVID__26"><img src="css/images/CursosPresenciales/1.jpg" width="1024" height="480" class="img-fluid w-100 d-block">
                    <div class="carousel-caption">
                        <!---->
                        <!---->
                        <div class="row h-100">
                            <div class="uno h-100 col-8 p-0 col">
                                <div class="container screen1 d-flex flex-column justify-content-center h-100 p-5 pb-0">
                                    <div class="col-10 texto h-100 text-left d-flex flex-column justify-content-between col">
                                        <a href="/presenciales/10">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="small-text proximamente">[NGIF](*)Próximamente</p> <span class="normal-text cursos-text d-flex"><div class="pin-icon mr-1"></div>
                                  Arequipa / Set 28-29
                              </span>
                                                <div class="hero-title">Seminario de derecho tributario*</div>
                                                <div class="linkto d-flex">
                                                    <div class="d-flex flex-column py-1">
                                                        <div class="flecha"></div>
                                                    </div>
                                                    <p class="small-text ver_mas">
                                                        Ver mas</p>
                                                </div>
                                            </div>
                                        </a>
                                        <p class="normal-text ponente">Ponente</p>
                                        <div class="row">
                                            <div class="col-md-6 autor ">Francisco Ruiz</div>
                                            <div class="col-md-6 autor">Gustavo Herrán</div>
                                            <div class="col-md-6 autor">Roberto Polo</div>
                                            <div class="col-md-6 autor">Eder Fuentes</div>
                                            <div class="col-md-6 autor">Juan perez</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="h-100 col-4 p-0 col">
                                <div class="screen2 h-100 b-100 d-flex flex-column justify-content-center">
                                    <div class="white-container d-flex flex-column justify-content-center">
                                        <h4 class="section-title">Cursos Presenciales</h4> <span class="normal-text cursos-text">Contamos también con los mejores cursos presenciales</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><a href="#" role="button" aria-controls="carousel1___BV_inner_" class="carousel-control-prev"><span aria-hidden="true" class="carousel-control-prev-icon"></span><span class="sr-only">Previous Slide</span></a><a href="#" role="button" aria-controls="carousel1___BV_inner_"
                class="carousel-control-next"><span aria-hidden="true" class="carousel-control-next-icon"></span><span class="sr-only">Next Slide</span></a>
            <ol id="carousel1___BV_indicators_" aria-hidden="true" aria-label="Select a slide to display" aria-owns="carousel1___BV_inner_" class="carousel-indicators" style="display: none;">
                <li role="button" id="carousel1___BV_indicator_1_" tabindex="-1" aria-current="true" aria-label="Goto Slide 1" aria-controls="carousel1___BV_inner_" class="active"></li>
            </ol>
        </div>
    </div>
    <div class="beneficios container-fluid w-100" id="page_4">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <div class="row">
            <div class="columna1 column col-4 col-lg-4 d-flex justify-content-end">
                <div class="text-wrapper h-100 d-flex flex-column justify-content-center p-lg-4">
                    <div class="section-title">Beneficios</div> <span class="p normal-text">Cada curso online o presencial esta avaládo oficialmente por Idem, además formarás parte de una comunidad donde el dinero obtenido estará 100% destinados a proyectos educativos para las personas con menos recursos.</span></div>
            </div>
            <div class="columna2 column col-8 col-lg-8">
                <div class="row icons-wrapper d-flex justify-content-center flex-column h-100 col-10 col-lg-8">
                    <div class="w-100 d-flex">
                        <div class="column col-3 d-flex flex-column justify-content-start">
                            <div class="d-flex justify-content-center pb-2 p-lg-2">
                                <div class="icon1" style="background-image: url(../../../assets/css/images/beneficios/1.png);"></div>
                            </div>
                            <p class="icon-text text-center small-text">Aprenderas a tu propio ritmo</p>
                        </div>
                        <div class="column col-3 d-flex flex-column justify-content-start">
                            <div class="d-flex justify-content-center pb-2 p-lg-2">
                                <div class="icon1" style="background-image: url(../../../assets/css/images/beneficios/2.png);"></div>
                            </div>
                            <p class="icon-text text-center small-text">Los mejores profecionales te enseñarán</p>
                        </div>
                        <div class="column col-3 d-flex flex-column justify-content-start">
                            <div class="d-flex justify-content-center pb-2 p-lg-2">
                                <div class="icon1" style="background-image: url(../../../assets/css/images/beneficios/3.png);"></div>
                            </div>
                            <p class="icon-text text-center small-text">Obtendrás un certificado oficial.</p>
                        </div>
                        <div class="column col-3 d-flex flex-column justify-content-start">
                            <div class="d-flex justify-content-center pb-2 p-lg-2">
                                <div class="icon1" style="background-image: url(../../../assets/css/images/beneficios/4.png);"></div>
                            </div>
                            <p class="icon-text text-center small-text">Formarás parte de una comunidad que genera el cambio.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid main_testimonials p-0" id="page_5">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <div role="region" id="carousel1" aria-busy="false" class="carousel p-0 m-0 slide" style="text-shadow: rgb(51, 51, 51) 1px 1px 2px;">
            <div id="carousel1___BV_inner_" role="list" class="carousel-inner">
                <div role="listitem" class="carousel-item" aria-current="false" aria-posinset="1" aria-setsize="2" style="height: 100vh;" id="__BVID__30" aria-hidden="true">
                    <!---->
                    <div class="carousel-caption">
                        <!---->
                        <!---->
                        <div class="d-flex m-0 p-0 h-100 w-100">
                            <div class="column  h-100 col-3 p-0">
                                <div class="screen1 h-100 b-100">
                                    <div class="white_container">
                                        <h4 class="section-title">Testimonios</h4> <span class="normal-text">Hemos capacitado a miles de profesionales.</span></div>
                                </div>
                            </div>
                            <div class="column uno h-100 col-9 p-0">
                                <div class="container screen2 d-flex justify-content-center h-100 d-flex justify-content-start">
                                    <div class="d-flex justify-content-center flex-column" style="z-index: 2;">
                                        <div class="text-container">
                                            <div class="hero-title comillas">“</div>
                                            <h3 class="hero-title">Pude culminar mis estudios sin tener que viajar”</h3>
                                            <p class="normal-text nombre pt-2">-Jorge Castro</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="carousel-item active" aria-current="true" aria-posinset="2" aria-setsize="2" style="height: 100vh;" id="__BVID__31" aria-hidden="false">
                    <!---->
                    <div class="carousel-caption">
                        <!---->
                        <!---->
                        <div class="d-flex m-0 p-0 h-100 w-100">
                            <div class="column  h-100 col-3 p-0">
                                <div class="screen1 h-100 b-100">
                                    <div class="white_container">
                                        <h4 class="section-title">Testimonios</h4> <span class="normal-text">Hemos capacitado a miles de profesionales.</span></div>
                                </div>
                            </div>
                            <div class="column uno h-100 col-9 p-0">
                                <div class="container screen2 d-flex justify-content-center h-100 d-flex justify-content-start">
                                    <div class="d-flex justify-content-center flex-column" style="z-index: 2;">
                                        <div class="text-container">
                                            <div class="hero-title comillas">“</div>
                                            <h3 class="hero-title">Me alegró saber que al capacitarme, personas con menores recursos obtendrían beneficios</h3>
                                            <p class="normal-text nombre pt-2">-Christian Paredes</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><a href="#" role="button" aria-controls="carousel1___BV_inner_" class="carousel-control-prev"><span aria-hidden="true" class="carousel-control-prev-icon"></span><span class="sr-only">Previous Slide</span></a><a href="#" role="button" aria-controls="carousel1___BV_inner_"
                class="carousel-control-next"><span aria-hidden="true" class="carousel-control-next-icon"></span><span class="sr-only">Next Slide</span></a>
            <ol id="carousel1___BV_indicators_" aria-hidden="true" aria-label="Select a slide to display" aria-owns="carousel1___BV_inner_" class="carousel-indicators" style="display: none;">
                <li role="button" id="carousel1___BV_indicator_1_" tabindex="-1" aria-current="false" aria-label="Goto Slide 1" aria-controls="carousel1___BV_inner_" class="" aria-describedby="__BVID__30"></li>
                <li role="button" id="carousel1___BV_indicator_2_" tabindex="-1" aria-current="true" aria-label="Goto Slide 2" aria-controls="carousel1___BV_inner_" class="active" aria-describedby="__BVID__31"></li>
            </ol>
        </div>
    </div>
    <div fluid="alt" class="estartegicAllies container-fluid w-100 px-6" id="page_6">
        <div class="row h-100">
            <div class="column col-2 d-flex justify-content-center h-100">
                <div class="column d-flex flex-column justify-content-center">
                    <h4 class="section-title blog_tittle">Aliados</h4>
                </div>
            </div>
            <div class="column col-10 flex-column justify-content-center">
                <div role="region" id="carousel1" aria-busy="false" class="carousel carr h-100 slide">
                    <div id="carousel1___BV_inner_" role="list" class="carousel-inner">
                        <div role="listitem" class="carousel-item carr asda h-100" aria-current="false" aria-posinset="1" aria-setsize="2" style="max-height: 250px; background-size: cover;" id="__BVID__34" aria-hidden="true"><img src="/noticias/1.jpg" class="img-fluid w-100 d-block">
                            <div class="carousel-caption">
                                <!---->
                                <!---->
                                <div class="row h-100">
                                    <div class="col-4 d-flex flex-column justify-content-center col">
                                        <div class="card d-flex flex-column justify-content-start pt-0 text-center">
                                            <div class="card-image ci1 w-100 pt-0 d-flex flex-column justify-content-end">
                                                <div class="w-100 d-flex justify-content-start">

                                                    <div class="small-text cursos-button px-2 py-0 w-50">
                                                        Echocopar</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-4 d-flex flex-column justify-content-center col">
                                        <div class="card d-flex flex-column justify-content-start pt-0 text-center">
                                            <div class="card-image ci1 w-100 pt-0 d-flex flex-column justify-content-end">
                                                <div class="w-100 d-flex justify-content-start">
                                                    <div class="small-text cursos-button px-2 py-0 w-50">EL Echocopar</div>
                                                </div>
                                            </div>
                                            <div class="card-text w-100 d-flex flex-column justify-content-start pt-0">
                                                <p class="small-text cursos-text">
                                                    Lorem ipsudfdfmet, consectetur adipiscing elit. Sed accumsan dui eget tincidunt tristique Duis.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 d-flex flex-column justify-content-center col">
                                        <div class="card d-flex flex-column justify-content-start pt-0 text-center">
                                            <div class="card-image ci1 w-100 pt-0 d-flex flex-column justify-content-end">
                                                <div class="w-100 d-flex justify-content-start">
                                                    <div class="small-text cursos-button px-2 py-0 w-50">EL COMERCIO</div>
                                                </div>
                                            </div>
                                            <div class="card-text w-100 d-flex flex-column justify-content-start pt-0">
                                                <p class="small-text cursos-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipisci5555umsan dui eget tincidunt tristique Duis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="carousel-item carr asda h-100 active" aria-current="true" aria-posinset="2" aria-setsize="2" style="max-height: 250px; background-size: cover;" id="__BVID__35" aria-hidden="false"><img src="/noticias/1.jpg" class="img-fluid w-100 d-block">
                            <div class="carousel-caption">
                                <!---->
                                <!---->
                                <div class="row h-100">
                                    <div class="col-4 d-flex flex-column justify-content-center col">
                                        <div class="card d-flex flex-column justify-content-start pt-0 text-center">
                                            <div class="card-image ci1 w-100 pt-0 d-flex flex-column justify-content-end">

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-4 d-flex flex-column justify-content-center col">
                                        <div class="card d-flex flex-column justify-content-start pt-0 text-center">
                                            <div class="card-image ci1 w-100 pt-0 d-flex flex-column justify-content-end">

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-4 d-flex flex-column justify-content-center col">
                                        <div class="card d-flex flex-column justify-content-start pt-0 text-center">
                                            <div class="card-image ci1 w-100 pt-0 d-flex flex-column justify-content-end">

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><a href="#" role="button" aria-controls="carousel1___BV_inner_" class="carousel-control-prev"><span aria-hidden="true" class="carousel-control-prev-icon"></span><span class="sr-only">Previous Slide</span></a><a href="#" role="button"
                        aria-controls="carousel1___BV_inner_" class="carousel-control-next"><span aria-hidden="true" class="carousel-control-next-icon"></span><span class="sr-only">Next Slide</span></a>
                    <ol id="carousel1___BV_indicators_" aria-hidden="true" aria-label="Select a slide to display" aria-owns="carousel1___BV_inner_" class="carousel-indicators" style="display: none;">
                        <li role="button" id="carousel1___BV_indicator_1_" tabindex="-1" aria-current="false" aria-label="Goto Slide 1" aria-controls="carousel1___BV_inner_" class="" aria-describedby="__BVID__34"></li>
                        <li role="button" id="carousel1___BV_indicator_2_" tabindex="-1" aria-current="true" aria-label="Goto Slide 2" aria-controls="carousel1___BV_inner_" class="active" aria-describedby="__BVID__35"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div fluid="alt" class="BlogDesktop container-fluid w-100 px-6" id="page_7">
        <div class="row h-100">
            <div class="column col-2 d-flex justify-content-center h-100">
                <div class="column d-flex flex-column justify-content-center">
                    <h4 class="section-title blog_tittle">Blog</h4>
                </div>
            </div>
            <div class="column col-10 flex-column justify-content-center">
                <div role="region" id="carousel1" aria-busy="false" class="carousel carr h-100 slide">
                    <div id="carousel1___BV_inner_" role="list" class="carousel-inner">
                        <div role="listitem" class="carousel-item carr asda h-100" aria-current="false" aria-posinset="1" aria-setsize="2" style="max-height: 250px; background-size: cover;" id="__BVID__38" aria-hidden="true"><img src="/noticias/1.jpg" class="img-fluid w-100 d-block">
                            <div class="carousel-caption">
                                <!---->
                                <!---->
                                <div class="row h-100">
                                    <div class="col-4 d-flex flex-column justify-content-center col">
                                        <div class="card d-flex flex-column justify-content-start pt-0 text-center">
                                            <div class="card-image ci1 w-100 pt-0 d-flex flex-column justify-content-end">
                                                <div class="w-100 d-flex justify-content-start">
                                                    <div class="small-text cursos-button px-2 py-0 w-50">EL COMERCIO</div>
                                                </div>
                                            </div>
                                            <div class="card-text w-100 d-flex flex-column justify-content-start pt-0">
                                                <p class="small-text cursos-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan dui eget tincidunt tristique Duis.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 d-flex flex-column justify-content-center col">
                                        <div class="card d-flex flex-column justify-content-start pt-0 text-center">
                                            <div class="card-image ci1 w-100 pt-0 d-flex flex-column justify-content-end">
                                                <div class="w-100 d-flex justify-content-start">
                                                    <div class="small-text cursos-button px-2 py-0 w-50">EL COMERCIO</div>
                                                </div>
                                            </div>
                                            <div class="card-text w-100 d-flex flex-column justify-content-start pt-0">
                                                <p class="small-text cursos-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan dui eget tincidunt tristique Duis.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 d-flex flex-column justify-content-center col">
                                        <div class="card d-flex flex-column justify-content-start pt-0 text-center">
                                            <div class="card-image ci1 w-100 pt-0 d-flex flex-column justify-content-end">
                                                <div class="w-100 d-flex justify-content-start">
                                                    <div class="small-text cursos-button px-2 py-0 w-50">EL COMERCIO</div>
                                                </div>
                                            </div>
                                            <div class="card-text w-100 d-flex flex-column justify-content-start pt-0">
                                                <p class="small-text cursos-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan dui eget tincidunt tristique Duis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="carousel-item carr asda h-100 active" aria-current="true" aria-posinset="2" aria-setsize="2" style="max-height: 250px; background-size: cover;" id="__BVID__39" aria-hidden="false"><img src="/noticias/1.jpg" class="img-fluid w-100 d-block">
                            <div class="carousel-caption">
                                <!---->
                                <!---->
                                <div class="row h-100">
                                    <div class="col-4 d-flex flex-column justify-content-center col">
                                        <div class="card d-flex flex-column justify-content-start pt-0 text-center">
                                            <div class="card-image ci1 w-100 pt-0 d-flex flex-column justify-content-end">
                                                <div class="w-100 d-flex justify-content-start">
                                                    <div class="small-text cursos-button px-2 py-0 w-50">EL COMERCIO</div>
                                                </div>
                                            </div>
                                            <div class="card-text w-100 d-flex flex-column justify-content-start pt-0">
                                                <p class="small-text cursos-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan dui eget tincidunt tristique Duis.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 d-flex flex-column justify-content-center col">
                                        <div class="card d-flex flex-column justify-content-start pt-0 text-center">
                                            <div class="card-image ci1 w-100 pt-0 d-flex flex-column justify-content-end">
                                                <div class="w-100 d-flex justify-content-start">
                                                    <div class="small-text cursos-button px-2 py-0 w-50">EL COMERCIO</div>
                                                </div>
                                            </div>
                                            <div class="card-text w-100 d-flex flex-column justify-content-start pt-0">
                                                <p class="small-text cursos-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan dui eget tincidunt tristique Duis.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 d-flex flex-column justify-content-center col">
                                        <div class="card d-flex flex-column justify-content-start pt-0 text-center">
                                            <div class="card-image ci1 w-100 pt-0 d-flex flex-column justify-content-end">
                                                <div class="w-100 d-flex justify-content-start">
                                                    <div class="small-text cursos-button px-2 py-0 w-50">EL COMERCIO2</div>
                                                </div>
                                            </div>
                                            <div class="card-text w-100 d-flex flex-column justify-content-start pt-0">
                                                <p class="small-text cursos-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan dui eget tincidunt tristique Duis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><a href="#" role="button" aria-controls="carousel1___BV_inner_" class="carousel-control-prev"><span aria-hidden="true" class="carousel-control-prev-icon"></span><span class="sr-only">Previous Slide</span></a><a href="#" role="button"
                        aria-controls="carousel1___BV_inner_" class="carousel-control-next"><span aria-hidden="true" class="carousel-control-next-icon"></span><span class="sr-only">Next Slide</span></a>
                    <ol id="carousel1___BV_indicators_" aria-hidden="true" aria-label="Select a slide to display" aria-owns="carousel1___BV_inner_" class="carousel-indicators" style="display: none;">
                        <li role="button" id="carousel1___BV_indicator_1_" tabindex="-1" aria-current="false" aria-label="Goto Slide 1" aria-controls="carousel1___BV_inner_" class="" aria-describedby="__BVID__38"></li>
                        <li role="button" id="carousel1___BV_indicator_2_" tabindex="-1" aria-current="true" aria-label="Goto Slide 2" aria-controls="carousel1___BV_inner_" class="active" aria-describedby="__BVID__39"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->
<!---->