<!--NAVEGACIÓN-->
<div>
    <div class="navbar dropdown p-0 todo">
        <div id="0" class="Navigation">
            <ul class="w-100 h-100" style="list-style-type: none;">
                <li class="Navigation-option-block">
                    <a href="/" class="link nuxt-link-exact-active nuxt-link-active"></a>
                </li>
                <li class="Navigation-option-block">
                    <a href="/Nosotros" class="link"></a>
                </li>
                <li class="Navigation-option-block">
                    <a href="/cursos_online" class="link"></a>
                </li>
                <li class="Navigation-option-block">
                    <a href="/#page_3" class=""></a>
                </li>
                <li class="Navigation-option-block">
                    <a href="/donaciones" class="link"></a>
                </li>
            </ul>
        </div>
        <a href="/" class="aaa d-flex justify-content-center ml-2">
            <div class="logo n7"></div>
        </a>
        <nav class="nav d-none d-md-flex flex-column justify-content-between py-4 px-0 ">
            <div class="first-icon d-flex flex-column justify-content-center">
                <a class="d-flex justify-content-center mt-4">
                    <div class="nav-icon n1"></div>
                </a>
            </div>
            <div class="first-icon d-flex flex-column justify-content-center">
                <a href="www.facebook.com" class="d-flex justify-content-center mt-4">
                    <div class="nav-icon n4"></div>
                </a>
                <a href="www.facebook.com" class="d-flex justify-content-center mt-4">
                    <div class="nav-icon n5"></div>
                </a>
                <a href="www.facebook.com" class="d-flex justify-content-center mt-4">
                    <div class="nav-icon n6"></div>
                </a>
            </div>
        </nav>
    </div>
</div>

<!-- contenedor principal-->
<div id="container app">

    <router-outlet></router-outlet>
</div>

<!--footer-->

<div>
    <div class="Footer container-fluid w-100">
        <div class="d-flex" style="max-width: 90%;">
            <div class="footer-content-wrapper">
                <div class="info-wrapper">
                    <div class="help normal-text">¿Necesitas ayuda? Comunicate con nosotros.</div>
                    <div class="options">
                        <div class="column">
                            <div>
                                <a href="/#page_2" class="">
                                    <div class="option normal-text">Carreras</div>
                                </a>
                            </div>
                            <div>
                                <a href="/#page_4" class="">
                                    <div class="option normal-text">Beneficios</div>
                                </a>
                            </div>
                            <div>
                                <a href="/donaciones/#comoFunciona" class="">
                                    <div class="option normal-text">¿Como Funciona?</div>
                                </a>
                            </div>
                            <div>
                                <a href="/#page_5" class="">
                                    <div class="option normal-text">Testimonios</div>
                                </a>
                            </div>
                            <div>
                                <a href="/#page_6" class="">
                                    <div class="option normal-text">Noticias</div>
                                </a>
                            </div>
                        </div>
                        <div class="column">
                            <div>
                                <a href="/donaciones" class="">
                                    <div class="option normal-text">Historia</div>
                                </a>
                            </div>
                            <div>
                                <a href="/nosotros/#ourPhilosophy" class="">
                                    <div class="option normal-text">Filosofía</div>
                                </a>
                            </div>
                            <div>
                                <a href="/nosotros/#ourTeam" class="">
                                    <div class="option normal-text">Nuestro Equipo</div>
                                </a>
                            </div>
                            <div>
                                <a href="/cursos_online/#ourTeachers" class="">
                                    <div class="option normal-text">Docentes</div>
                                </a>
                            </div>
                            <div>
                                <a href="/donaciones" class="">
                                    <div class="option normal-text">Donaciones</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-wrapper2">
                    <div class="mail normal-text">informes@idem.org.pe</div>
                    <div class="paymentMethods">
                        <div class="paymentMethodWrapper">
                            <div class="paymentMethod" style="background-image: url(css/images/footer/paypal.png);"></div>
                        </div>
                        <div class="paymentMethodWrapper">
                            <div class="paymentMethod" style="background-image: url(css/images/footer/Diners.png);"></div>
                        </div>
                        <div class="paymentMethodWrapper">
                            <div class="paymentMethod" style="background-image: url(css/images/footer/Visa.png);"></div>
                        </div>
                        <div class="paymentMethodWrapper">
                            <div class="paymentMethod" style="background-image: url(css/images/footer/American.png);"></div>
                        </div>
                    </div>
                    <div class="conditions normal-text">Terminos y condiciones</div>
                </div>
            </div>
            <div class="icon-container">
                <div class="icon"></div>
            </div>
        </div>
        <div class="derechos small-text">2020 - IDEM Derechos Reservados</div>
    </div>
</div>